# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary and condif
*.test
localconfig.toml

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# Environment variables
.env

# SQLite database files
*.db
*.db-wal
*.db-shm
*.db-journal

# Log files
*.log

# Build folder
build/
cmd/mediahub/frontend_embed

# node modules
frontend/node_modules

# AI documentation folder
AI/Ignore

# Compiled binary
/mediahub
/mediahub_linux_x86_64

# Storage folder
storage_root/

# Password file
passwordfile.txt

# screenshots in png version
screenshots/png
