<div 
  *ngIf="isOpen" 
  class="modal-overlay" 
  (click)="closeModal()"
  role="dialog"
  aria-modal="true"
  [attr.aria-labelledby]="modalId + '-title'">
  
  <div class="modal-content" (click)="onContentClick($event)">
    
    <div class="modal-header">
      <h2 class="modal-title" [id]="modalId + '-title'">{{ modalTitle }}</h2>
      <button (click)="closeModal()" class="close-button" aria-label="Close modal">&times;</button>
    </div>
    
    <div class="modal-body">
      <ng-content></ng-content>
    </div>
    
  </div>
</div>